body {
  display: flex;
  align-items: center;
  justify-content: center;

}

.board {
  width: 20rem;
  height: 40rem;
  display: grid;
  grid-template-columns: repeat(10, 3rem);
  border: 1px solid #000;
}

.boardCell {
  min-height: 3rem;
  min-width: 3rem;
  background-color: hsl(0 0% 50%);
  outline: 1px solid black;
  position: relative;
}

/* .tetrimino { background-color: blue; } */