body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  max-height: 100vh;

}

.board {

  display: grid;
  grid-template-columns: repeat(10, 3rem);
}

.button {
  background-color: transparent;
  display: block;
  height: 4rem;
  width: 7rem;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 1.4rem;
  transition: .3s;
}

.button:hover {
  background-color: hsl(0 0% 50%);
  color: white;
  border-color: hsl(0 0% 50%);
}

.clicked {
  display: none;
}

.boardCell {
  min-height: 3rem;
  min-width: 3rem;
  background-color: hsl(0 0% 50%);
  outline: 1px solid black;
  position: relative;
}


.information {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* outline: 1px solid #000; */
  height: 30rem;
  width: 15rem;
}

.showNext {
  height: 30%;
  width: 60%;
  /* outline: 1px solid #000; */

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.tiles {
  aspect-ratio: 1;
  width: 100%;
  /* background-color: red; */
  outline: 1px solid #000;
}